
@font-face {
  font-family: 'FuturaBT-BoldCondensed';
  src: url('FuturaBT-BoldCondensed.eot?#iefix') format('embedded-opentype'),  url('FuturaBT-BoldCondensed.woff') format('woff'), url('FuturaBT-BoldCondensed.ttf')  format('truetype'), url('FuturaBT-BoldCondensed.svg#FuturaBT-BoldCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
