.FloatLeft {
    float: left;
}
.TextLeft {
    text-align: left;
}
.TextRight {
    text-align: right;
}
.MarginAuto {
    margin: 0 auto;
}
.MarginBottom20 {
    margin-bottom: 20px;
}
.EventStyleOne {
    text-align: center;
    padding: 30px;
}
.EventStyleOne ul {
    display: inline-block;
    min-width: 565px;
    padding: 0 10px;
    border: 1px solid #dddddd;
    overflow: hidden;
}
.EventStyleOne ul li {
    padding: 10px 0;
    overflow: hidden;
    border-bottom: 1px solid #dddddd;
    clear: both;
}
.EventStyleOne ul li.BorderNone {
    border: none;
}
.EventStyleOneTimes {
    font-size: 12px;
    line-height: 25px;
    color: #333333;
    float: left;
}
.EventStyleOnePercentageBg {
    width: 300px;
    height: 15px;
    font-size: 12px;
    line-height: 15px;
    border-radius: 15px;
    background-color: #dddddd;
    float: left;
    margin: 5px 20px 0;
    overflow: hidden;
}
.EventStyleOnePercentage {
    color: #fff;
    text-align: right;
    background-color: #FF9300;
    overflow: hidden;
}
.EventStyleOnePercentage span {
    margin-right: 10px;
}
.EventBtn {
    width: 65px;
    height: 25px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    background-color: #FF9300;
}
.EventBtn:hover {
    background-color: #ff8a00;
}
.EventBtn a {
    display: block;
    color: #fff;
    text-decoration: none;
}
.EventBtn.Active {
    background-color: #d5d5d5;
}
.EventStyleTwo {
    text-align: center;
}
.EventStyleTwo ul {
    display: inline-block;
    border: 1px solid #dddddd;
    overflow: hidden;
    padding: 0 10px;
    margin-bottom: 10px;
}
.EventStyleTwo ul li {
    font-size: 12px;
    color: #333333;
    line-height: 35px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}
.EventStyleTwo ul li.BorderNone {
    border: none;
}
.EventStyleTwo ul li span {
    font-size: 16px;
    color:  #FF9300;
    padding: 0 2.5px;
}
.EventStyleThree {
    text-align: center;
    overflow: hidden;
}
.EventStyleThreeBonus {
    display: inline-block;
    height: auto;
    border: 1px solid #dddddd;
    padding: 10px;
}
.EventStyleThreeBonus .Degital {
    font-size: 14px;
    color: #FF9300;
    margin-bottom: 5px;
}
.EventStyleThreeBonus .Degital span {
    font-size: 30px;
}
.EventStyleThreeBonus h1 {
    font-size: 14px;
    color: #333333;
    text-align: left;
    margin-bottom: 10px;
}
.EventStyleThreeBonus h2 {
    font-size: 12px;
    color: #666666;
    margin-bottom: 15px;
}
.EventStyleThreeBonus ul.Times {
    text-align: left;
    padding: 10px;
    background-color: #f5f5f5;
    margin-bottom: 15px;  
}
.EventStyleThreeBonus ul.Times li {
    font-size: 12px;
    line-height: 17px;
    color: #333333;
}
.EventStyleThreeBonus ul.Times li span {
    font-size: 12px;
    color: #666666;
}
.EventStyleThreePercentageBg {
    width: 300px;
    height: 5px;
    border-radius: 5px;
    background-color: #dddddd;
    margin-bottom: 10px;
}
.EventStyleThreePercentage {
    height: 100%;
    background-color: #FF9300;
}
ul.EventStyleThreeDegital {
    overflow: hidden;
    margin-bottom: 15px;
}
ul.EventStyleThreeDegital li {
    width: 33.3333%;
    font-size: 12px;
    color: #666666;
    float: left;
}
ul.EventStyleThreeDegital li.Now {
    box-sizing: border-box;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}
ul.EventStyleThreeDegital li span {
    color: #333333;
}
.limit {
    font-size: 12px;
    color: #333333;
    text-align: right;
    margin-bottom: 10px;
}
.limit span {
   color: #FF9300;
}