ul.HeaderNav li a {
    font-size: 14px;
}
.lRMain .Prompt {
    line-height: 16px;
}
.GameNav ul li {
    margin-right: 10px;
}
.FooterNav.MarginRight {
    margin-right: 36px;
}
.MemberRightNav ul li {
    padding: 0 17px;
}
.MemberPrompt {
    max-width: 252px;
}
.MemberStep ul li.Step1 div {
    text-align: left;
}
.MemberStep ul li.Step3 div {
    text-align: right;
}
.PD .directions-wrap .text{
    text-align: left;
}
.PgHallArticle p {
    text-align: inherit;
}
/*20160619*/
.OfferBox2 .Article p {
    text-align: inherit;
}
.timed ul li {
    margin: 5px 5px;
}
.PlanMain-transaction .Cal .Select {
    width: inherit;
    min-width: 160px;
}
.PlanMain-all3 .adv .advMain .text {
    top: 80px;
}
/*liveChat*/
.options-wrap .options-ul li{
    width: 50%;
}
.options-wrap .options-ul li a{
    width: 96%;
}
.options-wrap .options-ul{
    height: auto;
}
.field-wrap .field input{
    letter-spacing: 0;
}