@charset "UTF-8";
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
  background-color: #fff;
  min-width: inherit;
  color: #333333; }

/*優惠活動內頁*/
/*頁頭*/
.OfferHeader {
  width: 100%;
  min-width: 320px;
  height: 55px;
  border-bottom: 1px solid #dddddd; }

.OfferHeaderMain {
  max-width: 1000px;
  margin: 0 auto; }

.OfferHeaderLogo {
  width: 110px;
  height: 25px;
  background-image: url(../styles/images/offer20/logo.png);
  background-size: 100%;
  text-indent: -9999px;
  float: left;
  margin-top: 15px;
  margin-left: 10px; }

.OfferHeaderLogo a {
  display: block;
  width: 100%;
  height: 100%; }

.OfferHeaderMain .Btn {
  float: right;
  width: 95px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  margin-top: 12.5px;
  margin-right: 10px; }

/*頁尾*/
.OfferfFooter {
  width: 100%;
  padding: 20px 0 30px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  clear: both; }

.OfferfFooterMain {
  max-width: 1000px;
  margin: 0 auto; }

.OfferfFooterMain p.CopyRight {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #666666; }

.OffertTitle .Btn {
  margin: 0 auto; }

/*共用*/
.TextCenter {
  text-align: center; }

.FloatLeft {
  float: left; }

.FloatRight {
  float: right; }

.MarginAuto {
  margin: 0 auto; }

.MarginBottom50 {
  margin-bottom: 50px; }

.ClearBoth {
  clear: both; }

.Btn {
  width: 240px;
  height: 40px;
  background-color: #FF9E00;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px; }

.Btn a {
  display: block;
  width: 100%;
  height: 100%; }

.Btn:hover {
  background-color: #ff8a00; }

.Btn a {
  display: block;
  color: #fff;
  text-decoration: none; }

.Btn.Active a {
  opacity: .5; }

.Btn.Active:hover {
  background-color: #FF9E00; }

.Btn.Gray {
  background-color: #D5D5D5; }

.TableStyle1 {
  width: 100%;
  height: auto;
  font-size: 16px;
  color: #7d7d7d;
  font-weight: bold; }

.TableStyle1 table {
  width: 100%;
  border: 1px solid #dddddd;
  text-align: center;
  margin-bottom: 50px; }

.TableStyle1 table tr th {
  background-color: #fd8a25;
  color: #ffffff;
  font-size: 16px;
  padding: 10px; }

.TableStyle1 table tr td {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 18px 10px;
  line-height: 22px; }

.TableStyle1 table tr:nth-child(odd) {
  background-color: #f9f9f9; }

.TableStyle1.TextCenter table tr td {
  text-align: center;
  text-indent: inherit; }

.TableStyle1 table tr td p {
  margin-bottom: 0; }

.TableStyle1 table tr td.Title {
  color: #333333;
  background-color: #f5f5f5; }

.OfferPb {
  position: relative; }

/*内容*/
.OfferArticle {
  max-width: 1000px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  padding: 35px 0px; }

.OfferBanner {
  position: relative;
  width: 100%;
  height: 320px;
  overflow: hidden;
  background-image: url("images/offer20/offer-kv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

@media screen and (max-width: 768px) {
  .OfferBanner {
    height: 200px; } }
.OfferTitle {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 15%; }

.OfferTitle h3 {
  color: #FFF;
  font-size: 33px;
  text-shadow: -4.33px 2.5px 4.75px rgba(4, 0, 0, 0.32);
  letter-spacing: 5px;
  font-weight: normal;
  line-height: 45px; }

.OfferTitle h3 i {
  font-size: 50px;
  letter-spacing: 0px;
  margin-left: 7px;
  margin-right: 3px; }

.OfferTitle a {
  display: block;
  margin-top: 17px; }

.OfferTitle a:hover .OfferTitleBtn {
  background: #ff8a00;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in; }

.OfferTitleBtn {
  display: inline-block;
  width: 189px;
  height: 38px;
  background: #FF9C26;
  line-height: 38px;
  font-size: 18px;
  color: #FFF;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  border-radius: 5px;
  letter-spacing: 3px;
  box-shadow: -4px 2px 5px 5px rgba(0, 0, 0, 0.32); }

.wrapper-1 {
  text-align: center;
  border-bottom: 1px solid #EDEDED; }

.wrapper-1 .title br {
  display: none; }

.wrapper-1 .title {
  font-size: 26px;
  text-align: center;
  color: #FF9E00;
  margin-bottom: 30px;
  line-height: 40px; }

.wrapper-2 {
  text-align: left; }

.wrapper-2 .time {
  display: inline-block;
  font-size: 16px;
  color: #666;
  letter-spacing: 1px;
  margin-bottom: 50px;
  margin-top: 50px;
  padding-left: 10px;
  border-left: 5px solid #FF9E00; }

.wrapper-2 .time span {
  color: #333;
  font-size: 20px; }

.wrapper-2 .title {
  font-size: 20px;
  color: #333;
  letter-spacing: 1px;
  padding-left: 10px;
  border-left: 5px solid #FF9E00; }

.wrapper-2 .subtitle {
  font-size: 16px;
  margin-top: 30px;
  color: #666;
  letter-spacing: 2px; }

.wrapper-2 table {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px; }

.wrapper-2 table th {
  color: #FFF;
  background-color: #FD9526;
  padding: 15px 0;
  min-width: 100px;
  font-size: 16px; }

.wrapper-2 table td {
  padding: 15px 0;
  font-size: 14px;
  color: #666; }

.wrapper-2 table tr:nth-child(even) {
  background-color: #FBFBFB; }

.wrapper-2 table tr {
  border-bottom: 1px dashed #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd; }

.wrapper-2 table tr:first-child {
  border-right: 1px solid #FD9526;
  border-left: 1px solid #FD9526; }

.wrapper-2 table tr:first-child, .wrapper-2 table tr:last-child {
  border-bottom: 0px; }

.wrapper-2 table tr:last-child {
  border-bottom: 1px solid #ddd; }

.wrapper-2 table tr td.tdtime {
  border-bottom: 1px solid #ddd;
  background-color: #FFF;
  vertical-align: middle;
  border-right: 1px dashed #ddd; }

.wrapper-3 {
  width: 100%;
  background-color: #FFFCF9;
  border-top: 1px solid #EDEDED;
  padding: 20px 0; }

.wrapper-3 .title {
  font-size: 20px;
  color: #333;
  letter-spacing: 1px;
  padding-left: 10px;
  border-left: 5px solid #FF9E00; }

.wrapper-3 ul {
  margin-top: 20px;
  margin-left: 40px; }

.wrapper-3 ul li {
  line-height: 35px;
  font-size: 16px;
  color: #666;
  text-indent: -21px;
  letter-spacing: 1px;
  text-align: justify; }

/* ============================================== */
/* Widescreen                                     */
/*                                       1024x768 */
/* ============================================== */
/* ============================================== */
/* Widescreen                                     */
/*                                       1366x768 */
/* ============================================== */
/* ============================================== */
/* Widescreen                                     */
/*                                       1440x900 */
/* ============================================== */
/* ============================================== */
/* Widescreen                                     */
/*                                       1280x800 */
/* ============================================== */
@media (max-width: 767px) {
  * {
    box-sizing: border-box; }

  .wrapper-1 .title br {
    display: block; }

  .OfferArticle {
    padding: 0px 10px; }

  .wrapper-2 table th {
    min-width: auto; }

  .wrapper-3 ul {
    padding-right: 28px; }

  .wrapper-1 .title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 24px; }

  .wrapper-2 table {
    margin-bottom: 50px; }

  .wrapper-3 {
    padding: 50px 0; }

  .wrapper-2 .time i {
    display: block;
    margin-top: 10px;
    line-height: 20px; } }
@media only screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3), (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (device-aspect-ratio: 40 / 71) {
  .wrapper-2 .time i {
    display: block;
    margin-top: 10px;
    line-height: 20px; }

  .wrapper-2 table th {
    font-size: 13px; }

  .wrapper-2 table tr {
    font-size: 12px; }

  .wrapper-3 ul li {
    font-size: 14px;
    line-height: 25px;
    text-indent: -19px; }

  .wrapper-3 ul {
    margin-left: 32px; } }

body.ShowAll {
   display: block !important;
}