body {
    font-family: Arial, "Microsoft Yahei";
    background-color: #fff;
    min-width: inherit;
    color: #333333;
    line-height: 22px;
}
    body.ShowAll {
   display: block !important;
}
/*VIP 說明*/
/*優惠活動內頁*/


/*頁頭*/

.OfferHeader {
    width: 100%;
    min-width: 320px;
    height: 55px;
    border-bottom: 1px solid #dddddd;
}

.OfferHeaderMain {
    max-width: 1000px;
    margin: 0 auto;
}

.OfferHeaderLogo {
    width: 110px;
    height: 25px;
    background-image: url(../styles/images/logo.png);
    background-size: cover;
    text-indent: -9999px;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}

.OfferHeaderLogo a {
    display: block;
    width: 100%;
    height: 100%;
}

.OfferHeaderMain .Btn {
    float: right;
    width: 95px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    margin-top: 12.5px;
    margin-right: 10px;
}


/*頁尾*/

.OfferfFooter {
    width: 100%;
    padding: 20px 0 30px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    clear: both;
}

.OfferfFooterMain {
    max-width: 1000px;
    margin: 0 auto;
}

.OfferfFooterMain p.CopyRight {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #666666;
}

.OfferBanner {
    width: 100%;
    padding-top: 33.6%;
    overflow: hidden;
    background-image: url("images/promotion/vipDesc/offerkv001.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    background-position: center 50px;
    position: relative;
}


/* .offerTitle{
    width: 25%;
    height: 22.4%;
    background-image: url("images/offerkv001_tt.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    bottom: 20%;
    left: 50%;
    margin-left: -12.5%; 
} */

.offerTitle {
    width: 476px;
    height: 143px;
    background-image: url("images/promotion/vipDesc/offerkv001_tt.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    bottom: 20%;
    left: 50%;
    margin-left: -238px;
}

.OfferBanner2 {
    position: relative;
    width: 100%;
    height: 342px;
    overflow: hidden;
    background-image: url("images/promotion/vipDesc/offerkv002.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


/* .offerTitle2{
    width: 25%;
    height: 22.4%;
    background-image: url("images/offerkv002_tt.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    bottom: 20%;
    left: 50%;
    margin-left: -11.1%; 
} */

.offerTitle2 {
    position: relative;
    left: 50%;
    margin-left: -188.5px;
    margin-top: 80px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
}

.Btn2 {
    width: 160px;
    height: 55px;
    position: absolute;
    left: 50%;
    margin-left: -80px;
    line-height: 55px;
    border-radius: 55px;
    background-color: #f08c34;
    font-size: 18px;
    text-align: center;
    bottom: 80px;
}


/*共用*/

.TextCenter {
    text-align: center;
}

.FloatLeft {
    float: left;
}

.FloatRight {
    float: right;
}

.MarginAuto {
    margin: 0 auto;
}

.MarginBottom50 {
    margin-bottom: 50px;
}

.ClearBoth {
    clear: both;
}

a {
    display: block;
    color: #fff;
    text-decoration: none;
}

.Btn {
    width: 240px;
    height: 40px;
    background-color: #FF9E00;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
}

.Btn a {
    display: block;
    width: 100%;
    height: 100%;
}

.Btn:hover {
    background-color: #ff8a00;
}

.Btn.Active a {
    opacity: .5;
}

.Btn.Active:hover {
    background-color: #FF9E00;
}

.Btn.Gray {
    background-color: #D5D5D5;
}

.TableStyle1 {
    width: 100%;
    height: auto;
    font-size: 16px;
    color: #7d7d7d;
    font-size: 14px;
}

.TableStyle1 table {
    width: 100%;
    border: 1px solid #dddddd;
    text-align: center;
    margin-bottom: 50px;
}

.TableStyle1 table tr:last-child {
    background-color: #fffef4;
}

.TableStyle1 table tr th {
    background-color: #ff9d00;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    color: #ffffff;
    font-size: 15px;
    padding: 10px;
    vertical-align: middle;
    font-weight: bold;
}

.TableStyle1 table tr td {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px dashed #dddddd;
    padding: 18px 10px;
}

.TableStyle1.TextCenter table tr td {
    text-align: center;
    text-indent: inherit;
}

.TableStyle1 table tr td p {
    margin-bottom: 0;
}

.TableStyle1 table tr td.Title {
    color: #333333;
    background-color: #f5f5f5;
}

.OfferPb {
    position: relative;
}


/*内容*/

.OfferArticleBox {
    text-align: center;
    background-color: #fefefe;
}

.OfferArticle,
.OfferArticle2 {
    max-width: 970px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    padding: 50px 10px;
}

.OfferArticle2 {
    text-align: left;
}

.OfferArticle2 h2 {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}

.OfferArticle2 h2 span {
    color: #ff9d00;
    font-size: 26px;
}

.OfferArticle2 p {
    font-size: 14px;
    padding-bottom: 12px;
}

.OfferArticle2 p span {
    vertical-align: middle;
    display: inline-block;
}

.OfferArticleBox2 {
    background-color: #fff;
}

.OfferArticleBox2 ul {
    padding-left: 20px;
}

.OfferArticleBox2 li {
    color: #666666;
    font-size: 14px;
    text-indent: -20px;
    line-height: 33px;
}

.OfferArticleBox2 h2 {
    font-size: 24px;
    font-weight: normal;
}

.PercenBox {
    margin: 25px 0 35px;
}

.Circle {
    position: relative;
    width: 114px;
    height: 114px;
    border-radius: 50%;
    border: 6px solid;
    padding-top: 30px;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 20px;
}

.Circle h3 {
    font-size: 20px;
}

.Circle1-1 {
    position: absolute;
    top: -6px;
    left: -6px;
    width: 100%;
    height: 100%;
    clip: rect(0px, 114px, 114px, 57px);
}

.Circle1-1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid;
    transform: rotate(50deg);
    clip: rect(0px, 57px, 114px, 0px);
}

.CircleColor1 {
    border-color: #ffe394;
}

.CircleColor1 .Circle1-1::after {
    border-color: #ff9d00;
}

.CircleColor1 h3 {
    color: #ff9d00;
}

.CircleColor2 {
    border-color: #9ed5f4;
}

.CircleColor2 .Circle1-1::after {
    border-color: #3eace9;
}

.CircleColor2 h3 {
    color: #3eace9;
}

.CircleColor3 {
    border-color: #f49eb6;
}

.CircleColor3 .Circle1-1::after {
    border-color: #e93e6e;
}

.CircleColor3 h3 {
    color: #e93e6e;
}

.nav {
    height: 60px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    position: relative;
    background-color: #fff;
}

.nav ul {
    max-width: 970px;
    height: 100%;
    overflow: hidden;
    border-left: 1px solid #ddd;
    margin: 1px auto;
}

.nav ul li {
    height: 100%;
    width: 50%;
    float: left;
    text-align: center;
    font-size: 20px;
    line-height: 60px;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
    cursor: pointer;
}

.nav ul li:hover,
.nav ul li.Active {
    color: #f08c34;
    border-bottom: 3px solid #f08c34;
}

.hr {
    border-bottom: 1px solid #dddddd;
}

.OfferArticleBox,
.OfferArticleBox2 {
    position: relative;
}

.icon_notice {
    width: 19px;
    height: 19px;
    background-image: url('images/promotion/vipDesc/icon_notice.png');
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 7px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
}

.color1 {
    color: #3eace9;
}
.pcNone{
    display: none;
}
@media screen and (max-width: 768px) {
    .OfferBanner {
        background-attachment: inherit;
        background-size: cover;
        background-position: center center;
        padding-top: 50%;
    }
    .offerTitle {
        transform: scale(0.5);
        bottom: -10%;
    }
    .OfferBanner2 {
        height: 230px;
    }
    .offerTitle2 {
        width: 100%;
        margin-left: 0;
        position: static;
        text-align: center;
        margin-top: 40px;
    }
    .offerTitle2 img {
        width: 80%;
        height: auto;
    }
    .OfferArticle,
    .OfferArticle2 {
        padding: 10px;
    }
    .Circle {
        margin-right: 0;
    }
    .Btn2 {
        bottom: 30px;
    }
    .phoneNone{
        display: none;
    }
    .pcNone{
        display: block;
    }
}
