body {
    font-family: Arial, "Microsoft JhengHei", "Microsoft Yahei";
    background-color: #fff;
    min-width: inherit;
    color: #333333;
}
    body.ShowAll {
   display: block !important;
}
/*驗證紅利*/
.RewardHeader {
    width: 100%;
    min-width: 320px;
    height: 55px;
    border-bottom: 1px solid #dddddd;
}

.RewardHeaderMain {
    max-width: 1000px;
    margin: 0 auto;
}

.RewardHeaderLogo {
    width: 110px;
    height: 25px;
    background-image: url(../styles/images/logo.png);
    background-size: cover;
    text-indent: -9999px;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}

.RewardHeaderLogo a {
    display: block;
    width: 100%;
    height: 100%;
}

.RewardHeaderMain .Btn {
    float: right;
    width: 95px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    margin-top: 12.5px;
    margin-right: 10px;
}