.event-time .start i,.event-time .end i{
	font-size: 36px;
}
.BetBlock-inner .name-wrap span{
	font-size: 14px;
	margin-bottom: 10px;
}
.BetBlock-inner .name-wrap span:nth-child(2){
	float: initial;
	text-align: left;
	display: block;
}
@media (max-width : 767px) {
	.wrapper-2 .AllTitle span{
		font-size: 20px;
		letter-spacing: 0px;
	}
	.wrapper-2 .AllTitle i{
		font-size: 23px;
		padding: 0px 10px;
	}
}


@media only screen 
and (min-device-width : 320px)
and (-webkit-min-device-pixel-ratio : 2)
and (device-aspect-ratio: 2/3)
, 
(max-device-width : 568px)
and (-webkit-min-device-pixel-ratio : 2)
and (device-aspect-ratio: 40/71)
{

	.event-time .start i,.event-time .end i{
		font-size: 16px;
	}
	.wrapper-2 .AllTitle i{
		display: none;
	}

}