html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: "Microsoft YaHei", "微软雅黑", '黑体', "Arial";
    background-color: #fff;
    min-width: inherit;
}


/*內頁*/

.RewardHeader {
    width: 100%;
    min-width: 320px;
    height: 55px;
    border-bottom: 1px solid #dddddd;
}

.RewardHeaderMain {
    max-width: 1000px;
    margin: 0 auto;
}

.RewardHeaderLogo {
    width: 110px;
    height: 25px;
    background-image: url(../styles/images/logo.png);
    background-size: cover;
    text-indent: -9999px;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}

.RewardHeaderLogo a {
    display: block;
    width: 100%;
    height: 100%;
}

.RewardHeaderMain .Btn {
    float: right;
    width: 95px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    margin-top: 12.5px;
    margin-right: 10px;
}

.RewardfFooter {
    width: 100%;
    padding: 20px 0 30px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    clear: both;
}

.RewardfFooterMain {
    max-width: 1000px;
    margin: 0 auto;
}

.RewardfFooterMain p.CopyRight {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #666666;
}

.RewardBanner {
    position: relative;
    background-image: url(../styles/images/paulinho/head_bg.jpg);
    background-position: center;
    background-size: cover;
    background-position: 40% 60%;
    width: 100%;
    height: 500px;
}

.RewardBanner img {}

.RewardBanner::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 150px;
    bottom: 0px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 100%);
}


/*文字+數字*/

.TitleMain {
    position: absolute;
    margin-top: -60px;
    width: 100%;
}

.TitleMainB {
    width: 85%;
    position: relative;
    margin-left: 165px;
}

.TitleTe {
    width: 142px;
    height: 143px;
    background-image: url(../styles/images/paulinho/te.png);
    float: left;
    margin-top: -10px;
    margin-left: 30px;
}

.m640 {
    display: none;
}

.TitleBox {
    margin-bottom: 10px;
    float: left;
}

.TitleBox h2 {
    font-size: 35px;
    color: #fff;
    text-shadow: 0px 0px 10px #333, 0px 0px 10px #333;
    letter-spacing: 2px;
    font-weight: 600;
    margin-left: 30px;
}
.TitleBox h2 br {
  display:none;
}

.RewardtTitle {
    position: absolute;
    left: 50%;
    margin-top: 90px;
    margin-left: -90px;
    z-index: 2;
}

.RewardtTitle h2 {
    font-size: 42px;
    color: #333333;
    margin-bottom: 10px;
    text-align: center;
}

.RewardtTitle p {
    font-size: 20px;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
}

.RewardtTitle .Btn {
    margin: 0 auto;
}

.RewardArticle {
    max-width: 990px;
    height: auto;
    overflow: hidden;
    margin: 0 auto 20px;
    padding: 0 10px;
}

.s0 {
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    position: relative;
}

.RewardArticleT {
    max-width: 990px;
    margin: 0 auto;
    position: relative;
}

.Tbtn01, .Tbtn02, .Tbtn03 {
    height: 90px;
    position: relative;
    border-right: 1px #ddd solid;
    float: left;
}

.Tbtn01M {
    padding: 30px;
    box-sizing: border-box;
}

.Tbtn01M .icon {
    position: absolute;
    width: 5px;
    height: 20px;
    background: #ff9c00;
    vertical-align: middle;
}

.Tbtn01M .txt {
    font-size: 20px;
    text-indent: 10px;
    vertical-align: middle;
}

.Tbtn02 {
    width: 256px;
}

.Tbtn02M {
    padding: 10px 17px;
    box-sizing: border-box;
}

.Tbtn02M .icon {
    width: 68px;
    height: 60px;
    background: url(../styles/images/paulinho/icon01.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.Tbtn02M .txt {
    display: inline-block;
    vertical-align: middle;
}

.Tbtn02M .txt p {
    color: #333;
    font-size: 16px;
    line-height: 20px;
}

.Tbtn02M .txt h2 {
    color: #ff9c00;
    font-size: 28px;
}

.Tbtn03 {
    width: 216px;
}

.Tbtn03M {
    padding: 10px 20px;
    font-size: 0;
    box-sizing: border-box;
}

.Tbtn03M .icon {
    width: 68px;
    height: 60px;
    background: url(../styles/images/paulinho/icon01.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.Tbtn03M .txt {
    display: inline-block;
    vertical-align: middle;
}

.Tbtn03M .txt p {
    color: #333;
    font-size: 16px;
    line-height: 20px;
}

.Tbtn03M .txt h2 {
    color: #ff9c00;
    font-size: 28px;
}

.s1 {
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    clear: both;
}

.s1 .item {}

.s2 {
    width: 100%;
    background: url(../styles/images/paulinho/s2_bg.jpg) no-repeat;
}

.s3 {
    width: 100%;
    padding-top: 10px;
    background: #fff;
}

.RewardArticleLR {
    width: 100%;
    padding-top: 56px;
}

.RewardArticleLR ul {}

.RewardArticleLR i {
    width: 5px;
    height: 22px;
    background: #ff2121;
}

.RewardArticleLR p.text {
    background: url(../styles/images/paulinho/rectR.jpg) no-repeat;
    text-indent: 1em;
    padding: 5px 3px;
    font-size: 18px;
    line-height: 12px;
    margin-bottom: 20px;
    color: #333;
}

.RewardArticleLR span {
    padding-left: 30px;
    font-size: 16px;
    line-height: 12px;
    color: #333;
}

.RewardArticleLR h3 {
    font-size: 16px;
    line-height: 30px;
    color: #666;
    margin-bottom: 15px;
    text-align: left;
    font-weight: bold;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e4e4e4;
    margin: 60px 0;
}

.ClearBoth {
    clear: both;
}

.telltextMainPC {
    width: 100%;
    position: relative;
    display: block;
}

.telltextMainPC br {
    display: none;
}

.telltext {
    position: relative;
}

.telltextMainPC .telltext i {
    position: absolute;
    width: 5px;
    height: 20px;
    background: #ff2121;
    top: 6px;
}

.telltextMainPC .telltext p {
    font-size: 18px;
    color: #333;
    line-height: 35px;
    padding-left: 13px;
}

.telltextMainPC .telltext p span {
    font-size: 14px;
    color: #333;
    /*line-height: 35px;*/
    padding-left: 13px;
}


/*960以下*/


/*比賽框*/

.PlayteamBox {
    width: 100%;
    margin-bottom: 50px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.Playtitle {
    width: 100%;
    height: 54px;
    background: url(../styles/images/paulinho/play_bg.gif) repeat-x;
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 45px;
}

.PlayMain {
    width: 33.233%;
    float: left;
    background: #fafafa;
    border-right: 1px solid #ddd;
    padding-bottom: 10px;
    font-size: 0;
}

.onBr {
    border-right: 0px;
}

.teamPK {
    display: inline-block;
    width: 33.333%;
    height: 75px;
    padding: 3px;
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #999;
    box-sizing: border-box;
}

.teamPK p {
    text-align: center;
}

.teamPKTextP {
    text-align: center;
    background: #fff;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    color: #666;
}

.teamPKcenter {
    width: 50%;
    margin: 0 auto;
}

.teamPKText {
    text-align: center;
    width: 123px;
    height: 23px;
    background: #fffce0;
    border-radius: 12px;
    border: 1px #ddd solid;
    color: #999;
    font-size: 12px;
    line-height: 24px;
    margin: 10px auto;
}

.PKBtn {
    width: 95px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    background: #ff930f;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    margin: 10px auto;
}

.PKBtn:hover {
    background: #f9a948;
}

.PKBtn a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
}


/*申請紅利*/

.RewardPeo {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 34px;
}

.peo {
    width: 320px;
    height: 515px;
    position: absolute;
    background: url(../styles/images/paulinho/people1.png) no-repeat;
    margin-top: -20px;
    overflow: hidden;
    z-index: 99;
    -webkit-filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.2))
}

.RewardGbox {
    width: 770px;
    height: 460px;
    background: #fff;
    border: 1px #ddd solid;
    margin-left: 120px;
    z-index: 1;
}

.RewardGbox .Menu {
    width: 100%;
    height: 60px;
    position: relative;
    border-bottom: 1px #ddd solid;
    font-size: 0px;
}

.MenuBtn {
    width: 50%;
    height: 60px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    box-sizing: border-box;
}

.MenuBtn.okBr {
    border-right: 1px #ddd solid;
}

.MenuBtn.Active {
    color: #f08c34;
    border-bottom: 3px #f08c34 solid;
    cursor: pointer;
    position: relative;
    margin-top: -2px;
}


/*申請紅利*/

.mm1box, .mm2box {
    /*共用*/
    /*padding:55px 40px 10px 140px; 卷軸*/
    width: 530px;
    height: 310px;
    position: relative;
    margin-left: 210px;
    margin-top: 50px;
}


/*申請紅利內容*/

.mm1boxMain {
    width: 100%;
    margin-right: 5px;
}

.mm1boxMain p {
    font-size: 14px;
    color: #666;
    letter-spacing: 0.5px;
}

.mm1boxMain p.unline {
    text-decoration: underline;
}

.mm1boxMain p span {
    font-size: 14px;
    color: #3eace9;
    text-decoration: underline;
}

.mm1boxMain h2 {
    font-size: 20px;
    color: #333;
    line-height: 35px;
}


/*投注單號*/

.InputBox {
    position: relative;
    width: auto;
    height: auto;
    margin-top: 18px;
    margin-bottom: 12px;
}

.InputBox input {
    width: 360px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    text-indent: 10px;
    font-size: 14px;
}

.mm1boxMain .Btn {
    width: 140px;
    height: 50px;
    background-color: #ff9c00;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    margin-top: 18px;
    margin-bottom: 12px;
    padding: 2px;
}

.mm1boxMain .Btn:hover {
    background-color: #ff8a00;
}

.mm1boxMain .Btn a {
    display: block;
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.mm1boxMain .Btn.Active a {}

.mm1boxMain .Btn.Active:hover {
    background-color: #FF9E00;
}

.mm1boxMain .Btn.Gray {
    background-color: #c4c4c4;
}

.tellnoteBox {
    max-width: 525px;
    height: 110px;
    background: #fffce0;
    border: 1px #ddd solid;
    margin-top: 42px;
}

.tellnoteBox .Title {
    width: 75px;
    height: 20px;
    background: url(../styles/images/paulinho/ttoo.png);
}

.tellnoteBox .Title p {
    padding-left: 6px;
    padding-top: 2px;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
}

.tellnoteBox .tellnoteMain {
    padding: 10px 15px;
    line-height: 18px;
    font-size: 14px;
    color: #666;
}


/*960框框*/

.s2-2 {
    width: 100%;
    /*background: url(../styles/images/paulinho/s2_bg.jpg) no-repeat #000;*/
    background-color: #fff;
    display: none;
}

.RewardGboxM960 {
    width: 90%;
    background: #fff;
    border-top: 1px solid #ff9c00;
    border-left: 1px #ddd solid;
    border-right: 1px #ddd solid;
    border-bottom: 1px #ddd solid;
    margin: 0 auto;
    z-index: 1;
}

.RewardGboxM960 .Menu {
    width: 100%;
    height: 40px;
    position: relative;
    border-top: 3px solid #ff9c00;
    border-bottom: 1px solid #ddd;
}

.RewardGboxM960 .MenuBtn {
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: #333;
}


/*申請紅利*/

.mm1boxM {
    /*共用*/
    padding: 15px 20px;
    position: relative;
}

.mm2boxM {
    /*共用*/
    width: 95%;
    height: 200px;
    position: relative;
    padding: 30px;
}

.mm1boxMainM960 {}

.mm1boxMainM960 h2 {
    font-size: 20px;
    color: #333;
    line-height: 30px;
}

.mm1boxMainM960 p {
    font-size: 14px;
    color: #666;
    letter-spacing: 0.5px;
    line-height: 18px;
}

.mm1boxMainM960 p span {
    font-size: 14px;
    color: #3eace9;
    text-decoration: underline;
}

.mm1boxMainM960 p.unline {
    text-decoration: underline;
    margin-top: 5px;
}

.mm1boxMain h2 {
    font-size: 20px;
    color: #333;
    line-height: 35px;
}


/*投注單號*/

.InputBoxM960 {
    position: relative;
    width: auto;
    height: auto;
    margin-top: 18px;
    margin-bottom: 12px;
}

.InputBoxM960 input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    text-indent: 10px;
    font-size: 14px;
}

.mm1boxMainM960 .Btn {
    width: 100%;
    height: 40px;
    background-color: #ff9c00;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    margin-top: 18px;
    padding: 2px;
}

.mm1boxMainM960 .Btn:hover {
    background-color: #ff8a00;
}

.mm1boxMainM960 .Btn a {
    display: block;
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.mm1boxMainM960 .Btn.Active a {}

.mm1boxMainM960 .Btn.Active:hover {
    background-color: #FF9E00;
}

.mm1boxMainM960 .Btn.Gray {
    background-color: #c4c4c4;
}

.tellnoteBoxM960 {
    background: #fffce0;
    border: 1px #ddd solid;
    margin-top: 42px;
}

.tellnoteBoxM960 .Title {
    width: 75px;
    height: 20px;
    background: url(../styles/images/paulinho/ttoo.png);
}

.tellnoteBoxM960 .Title p {
    padding-left: 6px;
    padding-top: 2px;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
}

.tellnoteBoxM960 .tellnoteMain {
    padding: 10px 15px;
    line-height: 22px;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #666;
}

.RewardGboxM960M2 {
    width: 90%;
    background: #fff;
    border-top: 1px solid #ff9c00;
    border-left: 1px #ddd solid;
    border-right: 1px #ddd solid;
    border-bottom: 1px #ddd solid;
    margin: 0 auto;
}

.RewardGboxM960M2 .Menu {
    width: 100%;
    height: 40px;
    position: relative;
    border-top: 3px solid #ff9c00;
    border-bottom: 1px solid #ddd;
}

.RewardGboxM960M2 .MenuBtn {
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: #333;
}


/*S3 紅利說明 注意事項*/

.Rewardlist {
    width: 100%;
}

.item {
    width: 70%;
    float: left;
    position: relative;
}

.item h3 {
    font-size: 20px;
    color: #333;
    line-height: 35px;
    padding-left: 13px;
}

.item i {
    position: absolute;
    width: 5px;
    height: 20px;
    background: #ff2121;
    top: 8px;
}

.item ul {
    padding-bottom: 30px;
}

.item ul li {
    padding: 0;
}

.item li {
    list-style-type: decimal;
    margin-left: 1.5em;
    font-size: 14px;
    color: #666;
    line-height: 24px;
}

.item span {
    color: #ff8a00;
}

.peo2 {
    width: 30%;
    height: 686px;
    float: right;
    background: url(../styles/images/paulinho/people2.png) no-repeat 100px 0;
}


/*END*/


/*共用*/

.TextCenter {
    text-align: center;
}

.FloatLeft {
    float: left;
}

.FloatRight {
    float: right;
}

.MarginAuto {
    margin: 0 auto;
}

.MarginBottom20 {
    margin-bottom: 20px;
}

.MarginLeft20 {
    margin-left: 20px;
}

.Dib {
    display: inline-block;
    margin-bottom: 5px;
}

.Btn {
    width: 165px;
    height: 43px;
    background-color: #ff9300;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
}

.Btn:hover {
    background-color: #ff8a00;
}

.Btn a {
    display: block;
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.Btn.Active a {}

.Btn.Active:hover {
    background-color: #FF9E00;
}

.Btn.Gray {
    background-color: #c4c4c4;
}


/*表格0*/

.TableStyle0 {
    width: 100%;
    height: auto;
    font-size: 16px;
    color: #666;
}

.TableStyle0 table {
    border: 1px solid #dddddd;
}

.TableStyle0 table tr td {
    border: 1px solid #dddddd;
    padding: 10px;
    line-height: 22px;
    text-align: left;
    font-size: 14px;
    color: #3eace9;
}

.TableStyle0 table tr td p {
    margin-bottom: 0;
}

.TableStyle0 table tr td.Title {
    color: #333;
    background-color: #f5f5f5;
    text-align: center;
    border: 1px solid #ddd;
}


/*表格1*/

.TableStyle1 {
    width: 100%;
    height: auto;
    font-size: 16px;
    color: #666;
    margin-top: 20px;
}

.TableStyle1 table {
    width: 50%;
    border: 1px solid #dddddd;
}

.TableStyle1 table tr td {
    border-left: 0px solid #dddddd;
    border-right: 0px solid #dddddd;
    border-top: 1px dashed #dddddd;
    border-bottom: 1px dashed #dddddd;
    padding: 10px 20px;
    line-height: 22px;
    text-align: left;
    font-size: 14px;
    color: #3eace9;
}

.TableStyle1 table tr td p {
    margin-bottom: 0;
}

.TableStyle1 table tr td.Title {
    width: 40%;
    color: #333;
    background-color: #f5f5f5;
    text-align: left;
    border: 1px solid #ddd;
}

.RewardPb {
    position: relative;
    text-align: center;
    padding: 30px;
}

.RewardPrompt {
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    transition: all ease-out .1s;
}

.RewardPb:hover .RewardPrompt {
    opacity: 1;
    bottom: 50px;
}

@media screen and (max-width: 960px) {
    .RewardBanner {
        background-image: url(../styles/images/paulinho/head_bg.jpg);
        background-position: 50% 50%;
    }
    .RewardBanner img {
        /*margin-left: -900px;*/
        display: block;
        width: 100%;
        max-width: 100%;
    }
    .telltextMainPC .telltext p {
        line-height: 24px;
        margin-bottom: 20px;
    }
    .TitleTe {
        display: none;
    }
    .TitleMainB {
        width: 100%;
        position: inherit;
        margin-left: inherit;
    }
    .Tbtn01 {
        width: 33%;
    }
    .BtnMain p {
        font-size: 17px;
    }
    .telltextMainPC br {
        display: block;
    }
    .telltextMainPC .telltext p span {
        padding-left: 0px;
    }
    .peo, .peo2 {
        display: none;
    }
    .RewardGbox {
        width: 770px;
        height: 460px;
        background: #fff;
        border: 1px #ddd solid;
        margin: 0 auto;
        z-index: 1;
    }
    .mm1box {
        position: inherit;
        width: 80%;
        margin: 40px 40px 30px 120px;
    }
    .mm2box {
        position: inherit;
        width: 90%;
        margin: 30px auto;
    }
    .TableStyle1 {
        width: 95%;
        margin: 20px auto;
    }
    .TableStyle1 table {
        width: 95%;
    }
    .item {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .s1 {
        width: 100%;
        padding: 5px 10px;
        box-sizing: border-box;
        border: 0px;
    }
    .s2 {
        display: none;
    }
    .s2-2 {
        display: block;
    }
    .RewardBanner {
        height: 300px;
    }
    .RewardArticleT {
        margin: 0 auto;
    }
    .TitleMainB {
        width: 100%;
        margin-left: 0px;
    }
    .BtnMain {
        padding: 30px 10px;
        box-sizing: border-box;
    }
    .telltextMainPC .telltext i {
        top: inherit;
    }
    .Tbtn03M .txt p {
        font-size: 14px;
    }
    .RewardHeaderMain {
        width: 100%;
        margin: inherit;
    }
    .RewardArticleLR {
        padding-top: 20px;
    }
    .RewardArticle {
        box-sizing: border-box;
        width: 100%;
        margin: 0;
    }
    .RewardGboxM960, .RewardGboxM960M2 {
        width: 95%;
    }
    .mm2boxM {
        padding: 10px;
    }
    /*比賽表格*/
    .PlayMain {
        width: 100%;
    }
    .onBr {
        border-right: 0px;
    }
    .RewardArticleLR h2 {
        text-align: left;
    }
    .RewardArticleLR p {
        text-align: left;
    }
    .teamPK p {
        text-align: center;
    }
    .Rewardlist {
        width: 95%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 736px) {
    .TitleMain {
        margin-top: -80px;
    }
    .TitleBox {
        width: inherit;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    .TitleBox h2 {
        font-size: 30px;
    }
    .Tbtn01 {
        width: 100%;
        border-bottom: 1px #ddd solid;
        height: inherit;
    }
    .Tbtn01M {
        position: relative;
        margin-left: 50%;
        left: -25%;
    }
    .Tbtn02 {
        width: 56%;
        display: inline-block;
        font-size: 0;
        height: inherit;
    }
    .Tbtn03 {
        width: 42%;
        display: inline-block;
        font-size: 0;
        border-right: none;
        height: inherit;
    }
}

@media screen and (max-width: 640px) {
    .RewardBanner {
        height: 220px;
        background-position: 50% 70%;
        background-size: cover;
    }
    .TitleBox h2 {
        font-size: 26px;
        line-height: 30px;
    }
    .Tbtn01M {
        position: relative;
        margin-left: inherit;
        left: inherit;
    }
}

@media screen and (max-width: 480px) {
    .line {
        margin: 20px 0;
    }
    .RewardArticle {
        box-sizing: border-box;
        width: 100%;
        margin: 10px 0 0 0;
    }
    .RewardArticleLR h2 {
        text-align: left;
    }
    .RewardArticleLR p {
        text-align: left;
    }
    .Tbtn02M .icon, .Tbtn03M .icon {
        display: none;
    }
    .teamPK p {
        text-align: center;
    }

    .PKBtn {
        height: 44px;
        line-height:44px;

    }
    .TitleBox h2 br {
      display: block;
    }

}

@media screen and (max-width: 420px) {
    .RewardGboxM960M2 {
        height: 270px;
    }
    .TableStyle0 table tr td {
        padding: 3px;
    }
    .TitleMain{
      margin-top:-100px;
    }

}

@media screen and (max-width: 320px) {
  .TitleMain{
    margin-top:-80px;
  }
  .TitleBox h2 br {
    display:none;
  }

}

body.ShowAll {
    display: block !important;
}