/* 寶利尼澳英文版 */

.Tbtn02M .icon{
	width: 40px;
	height: 40px;
}
.Tbtn03M .icon{
	width: 40px;
	height: 40px;
}
.Tbtn02M .icon,.Tbtn03M .icon{
	background-size: cover;
}
.Tbtn03M .txt{
	width: 134px;
	margin-left: 10px;
}
.Tbtn03M{
	padding: 10px; 
}
.Tbtn02M{
	padding: 10px;
	margin-top: 12px;
}
.Tbtn03M .txt p,.Tbtn02M .txt p{
	font-size: 12px;
}
.Tbtn03M .txt h2,.Tbtn02M .txt h2{
	font-size: 22px;
}
.TitleBox h2{
	width: 686px;
	font-size: 28px;
	margin-top: -15px;
}
@media screen and (max-width: 736px){
	.Tbtn02{
		width: 50%;
	}
}
@media screen and (max-width: 640px){
	.TitleBox h2{
		margin-left: 10px;
		font-size: 22px;
		width: 320px;
	}
}
@media screen and (max-width: 414px){
	.Tbtn02M .txt{
		margin-left: 28px;
	}
}