@charset "UTF-8";
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }
body.ShowAll {
   display: block !important;
}
ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
  background-color: #fff;
  min-width: inherit;
  color: #333333; }

/*優惠活動內頁*/
/*頁頭*/
.OfferHeader {
  width: 100%;
  min-width: 320px;
  height: 55px;
  border-bottom: 1px solid #dddddd; }

.OfferHeaderMain {
  max-width: 1000px;
  margin: 0 auto; }

.OfferHeaderLogo {
  width: 110px;
  height: 25px;
  background-image: url(../styles/images/logo.png);
  background-size: 100%;
  text-indent: -9999px;
  float: left;
  margin-top: 15px;
  margin-left: 10px; }

.OfferHeaderLogo a {
  display: block;
  width: 100%;
  height: 100%; }

.OfferHeaderMain .Btn {
  float: right;
  width: 95px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  margin-top: 12.5px;
  margin-right: 10px; }

/*頁尾*/
.OfferfFooter {
  width: 100%;
  padding: 20px 0 30px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  clear: both; }

.OfferfFooterMain {
  max-width: 1000px;
  margin: 0 auto; }

.OfferfFooterMain p.CopyRight {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #666666; }

.OffertTitle .Btn {
  margin: 0 auto; }

/*共用*/
.TextCenter {
  text-align: center; }

.FloatLeft {
  float: left; }

.FloatRight {
  float: right; }

.MarginAuto {
  margin: 0 auto; }

.MarginBottom50 {
  margin-bottom: 50px; }

.ClearBoth {
  clear: both; }

.Btn {
  width: 240px;
  height: 40px;
  background-color: #FF9E00;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px; }

.Btn a {
  display: block;
  width: 100%;
  height: 100%; }

.Btn:hover {
  background-color: #ff8a00; }

.Btn a {
  display: block;
  color: #fff;
  text-decoration: none; }

.Btn.Active a {
  opacity: .5; }

.Btn.Active:hover {
  background-color: #FF9E00; }

.Btn.Gray {
  background-color: #D5D5D5; }

.TableStyle1 {
  width: 100%;
  height: auto;
  font-size: 16px;
  color: #7d7d7d;
  font-weight: bold; }

.TableStyle1 table {
  width: 100%;
  border: 1px solid #dddddd;
  text-align: center;
  margin-bottom: 50px; }

.TableStyle1 table tr th {
  background-color: #fd8a25;
  color: #ffffff;
  font-size: 16px;
  padding: 10px; }

.TableStyle1 table tr td {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 18px 10px;
  line-height: 22px; }

.TableStyle1 table tr:nth-child(odd) {
  background-color: #f9f9f9; }

.TableStyle1.TextCenter table tr td {
  text-align: center;
  text-indent: inherit; }

.TableStyle1 table tr td p {
  margin-bottom: 0; }

.TableStyle1 table tr td.Title {
  color: #333333;
  background-color: #f5f5f5; }

.OfferPb {
  position: relative; }

/*内容*/
.OfferArticle {
  max-width: 1000px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  padding: 35px 0px; }

.OfferBanner {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-image: url("images/promotion/specalkeno/offer-kv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

@media screen and (max-width: 768px) {
  .OfferBanner {
    height: 200px; } }
.OfferTitle {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 15%; }

.OfferTitle h3 {
  color: #FFF;
  font-size: 33px;
  text-shadow: -4.33px 2.5px 4.75px rgba(4, 0, 0, 0.32);
  letter-spacing: 5px;
  font-weight: normal;
  line-height: 45px; }

.OfferTitle h3 i {
  font-size: 50px;
  letter-spacing: 0px;
  margin-left: 7px;
  margin-right: 3px; }

.OfferTitle a {
  display: block;
  margin-top: 17px; }

.OfferTitle a:hover .OfferTitleBtn {
  background: #ff8a00;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in; }

.OfferTitleBtn {
  display: inline-block;
  width: 189px;
  height: 38px;
  background: #FF9C26;
  line-height: 38px;
  font-size: 18px;
  color: #FFF;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  border-radius: 5px;
  letter-spacing: 3px;
  box-shadow: -4px 2px 5px 5px rgba(0, 0, 0, 0.32); }

.wrapper-1 {
  border-bottom: 1px solid #EDEDED; }

.wrapper-1 .title br {
  display: none; }

.wrapper-1 .title {
  font-size: 26px;
  text-align: center;
  color: #FF9E00;
  margin-bottom: 58px;
  line-height: 36px; }

.wrapper-1 .progressbar-wrap {
  padding: 0px 50px; }

.progressbar-wrap .progressbar-inner {
  width: 100%; }

.progressbar-wrap .progressbar-inner .progressbar {
  width: 100%;
  height: 18px;
  position: relative;
  background: #DDDDDD;
  border-radius: 9px; }

.progressbar-wrap .progressbar-inner .progressbar .round-1 {
  position: absolute;
  top: -6px;
  left: 25%;
  z-index: 3; }

.progressbar-wrap .progressbar-inner .progressbar .round-2 {
  position: absolute;
  top: -6px;
  left: 50%;
  z-index: 3; }

.progressbar-wrap .progressbar-inner .progressbar .round-3 {
  position: absolute;
  top: -6px;
  left: 75%;
  z-index: 3; }

.progressbar-wrap .progressbar-inner .progressbar .round-4 {
  position: absolute;
  top: -6px;
  right: 0;
  z-index: 3; }

.progressbar .round.orange {
  background: #FF9E00; }

.progressbar .round {
  width: 30px;
  height: 30px;
  background: #DDDDDD;
  position: absolute;
  margin-left: -15px;
  z-index: 3;
  border-radius: 15px; }

.progressbar-wrap .progressbar-inner .progressbar span {
  position: absolute;
  display: block;
  top: -23px;
  width: 100px;
  margin-left: -50px;
  text-align: center;
  font-size: 14px;
  color: #FF9E00; }

.progressbar-wrap .progressbar-inner .progressbar span.gray {
  color: #DDDDDD; }

.progressbar .progressbar-orange {
  width: 65%;
  height: 18px;
  background: #FF9E00;
  border-radius: 15px 0px 0px 15px; }

.progressbar-money {
  width: 100%;
  margin-top: 6px; }

.progressbar-money ul li {
  display: inline-block;
  width: 33.2%;
  height: 30px;
  margin-top: 9px;
  text-align: center;
  position: relative; }

.progressbar-money ul li.line {
  border-right: 1px solid #979797; }

.progressbar-money ul li .money {
  text-align: center;
  font-size: 16px;
  color: 333333; }

.progressbar-money ul li .money.left {
  text-align: left; }

.progressbar-money ul li .money.right {
  text-align: right;
  margin-right: -14px; }

.progressbar-money ul li .money i {
  width: 100%;
  display: block;
  position: absolute;
  color: #666666;
  font-size: 14px;
  margin-top: 5px; }

.betgroup-wrap {
  padding: 0px 80px;
  margin-top: 33px; }

.betgroup-wrap ul li {
  width: 25%;
  display: inline-block;
  text-align: center;
  padding-bottom: 50px; }

.betgroup-wrap ul li .word h3 {
  font-size: 16px;
  color: #333333; }

.betgroup-wrap ul li .word p {
  margin-top: 5px;
  font-size: 20px;
  color: #FF9E00; }

.betgroup-wrap ul li .word .btn {
  display: inline-block;
  margin-top: 25px;
  width: 140px;
  height: 36px;
  background: #FF9E00;
  color: #FFF;
  font-size: 18px;
  line-height: 36px;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in; }

.betgroup-wrap ul li .word .btn:hover {
  background: #ff8a00;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in; }

.betgroup-wrap ul li .word .btn.gray {
  background: #D5D5D5; }

.betgroup-wrap ul li .word .btn.blue {
  background: #3EACE9; }

.wrapper-2 {
  margin-top: 26px; }

.bonus-article, .bonus-table {
  display: inline-block;
  width: 50%;
  vertical-align: top; }

.bonus-article .padding {
  padding-right: 30px; }

.bonus-article .title {
  font-size: 20px;
  color: #333333;
  margin-bottom: 13px; }

.bonus-article ul li {
  font-size: 14px;
  color: #666666;
  text-indent: -22px;
  line-height: 22px;
  text-align: justify;
  text-justify: inter-ideograph;
  -ms-text-justify: inter-ideograph;
  /*IE9*/
  -moz-text-align-last: justify;
  /*Firefox*/
  -webkit-text-align-last: justify;
  /*Chrome*/
  letter-spacing: 2px;
  margin-bottom: 10px; }

.bonus-article ul {
  margin-left: 22px; }

.bonus-table .padding {
  padding-left: 30px; }

.bonus-table table {
  width: 100%;
  text-align: center;
  border: 1px solid #DDDDDD;
  margin-top: 36px; }

.bonus-table table th {
  padding: 15px 0px;
  background: #FF9D00;
  color: #FFFFFF;
  letter-spacing: 1px;
  width: 50%;
  font-size: 16px;
  border-bottom: 1px solid #DDDDDD; }

.bonus-table table th.line, .bonus-table table td.line {
  border-right: 1px solid #DDDDDD; }

.bonus-table table td.line {
  background: #F6F6F7;
  color: #333333; }

.bonus-table table td {
  width: 50%;
  letter-spacing: 1px;
  padding: 15px 0px;
  font-size: 14px;
  color: #3EACE9;
  border-bottom: 1px solid #DDDDDD; }

.wrapper-3 {
  margin-top: 38px; }

.notes-article {
  width: 100%; }

.notes-article .title {
  font-size: 20px;
  color: #333333;
  margin-bottom: 13px; }

.notes-article ul li {
  font-size: 14px;
  color: #666666;
  text-indent: -22px;
  line-height: 22px;
  text-align: justify;
  text-justify: inter-ideograph;
  -ms-text-justify: inter-ideograph;
  /*IE9*/
  -moz-text-align-last: justify;
  /*Firefox*/
  -webkit-text-align-last: justify;
  /*Chrome*/
  letter-spacing: 2px;
  margin-bottom: 10px; }

.notes-article ul {
  margin-left: 22px; }

.notes-img {
  position: relative;
  padding-bottom: 287px; }

.notes-img .img {
  position: absolute;
  width: 190px;
  height: 287px;
  background-image: url(images/Gary.png);
  background-repeat: no-repeat;
  right: 74px; }

/* ============================================== */
/* Widescreen                                     */
/*                                       1024x768 */
/* ============================================== */
/* ============================================== */
/* Widescreen                                     */
/*                                       1366x768 */
/* ============================================== */
/* ============================================== */
/* Widescreen                                     */
/*                                       1440x900 */
/* ============================================== */
/* ============================================== */
/* Widescreen                                     */
/*                                       1280x800 */
/* ============================================== */
@media (max-width: 767px) {
  .wrapper-1 .title br {
    display: block; }

  .wrapper-1 .title {
    padding: 0px 5%;
    padding: 0px 4vw;
    font-weight: 600; }

  .wrapper-1 .progressbar-wrap {
    padding: 0px 5%;
    padding: 0px 4vw; }

  .progressbar-wrap .progressbar-inner {
    box-sizing: border-box;
    padding: 0px 15px;
    margin-left: -7.5px; }

  .progressbar-money ul li {
    width: 33.1%; }

  .betgroup-wrap {
    padding: 0px 5%;
    padding: 0px 4vw; }

  .betgroup-wrap ul li {
    width: 50%;
    display: inline-block;
    text-align: center;
    padding-bottom: 50px; }

  .betgroup-wrap ul li.last {
    margin-top: -15px;
    padding-bottom: 50px; }

  .betgroup-wrap ul li .word h3 {
    font-size: 12px; }

  .betgroup-wrap ul li .word a {
    display: block;
    padding: 0px 5%;
    padding: 0px 4vw; }

  .betgroup-wrap ul li .word .btn {
    display: inline-block;
    box-sizing: border-box;
    width: 90%;
    color: #FFF;
    font-size: 15px; }

  .bonus-article, .bonus-table {
    display: block;
    width: 100%; }

  .bonus-wrap {
    box-sizing: border-box;
    padding: 0px 6%;
    padding: 0px 5vw; }

  .bonus-article .padding {
    padding-right: 0px; }

  .bonus-table .padding {
    padding-left: 0px; }

  .notes-article, .notes-img {
    display: block;
    width: 100%; }

  .notes-wrap {
    box-sizing: border-box;
    padding: 0px 6%;
    padding: 0px 5vw; }

  .OfferBanner {
    background-position: 60% center; } }
@media only screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3), (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (device-aspect-ratio: 40 / 71) {
  .progressbar-money ul li {
    width: 33%; }

  .betgroup-wrap ul li .word .btn {
    display: inline-block;
    box-sizing: border-box;
    width: 95%;
    color: #FFF;
    font-size: 14px; }

  .bonus-table table td {
    font-size: 12px; }

  .OfferBanner {
    background-position: 55% center; }

  .progressbar-wrap .progressbar-inner .progressbar span {
    font-size: 12px; } }
@media only screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3) and (orientation: landscape), (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (device-aspect-ratio: 40 / 71) and (orientation: landscape) {
  .progressbar-money ul li {
    width: 33.2%; } }
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
  .progressbar-money ul li {
    width: 33.2%; } }
