.Logo {
    width: 100px;
    height: 25px;
    background-image: url(images/logo_en.png);
    background-size: cover;
    float: left;
    margin-top: 21px;
    margin-right: 35px;
}
.Logo2 {
    position: relative;
    width: 80px;
    height: 18px;
    background-image: url(images/logo2_en.png);
    background-size: 100%;
    float: left;
    margin-right: 20px;
}


ul.HeaderNav li a {
    display: block;
    color: #333333;
    padding: 0 10px;
    text-decoration: none;
}

ul.HeaderLRNav.Register {
    max-width: 190px;
    background-color: #FFF7EC;
}


.HelpCenterArticle {
    width: 75%;
    max-width: 800px;
    height: auto;
    float: right;
    margin-bottom: 70px;
}

.TransLlstMain .TableStyle2 td.situation {
    color: #ff6600;
    white-space:nowrap;
}

.TableStyle3 table tr td {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-top: 1px dashed #dddddd;
    border-bottom: 1px dashed #dddddd;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 22px;
    text-align: center;
}
/*liveChat*/
.options-wrap .options-ul li{
    width: 50%;
}
.options-wrap .options-ul li a{
    width: 96%;
}
.options-wrap .options-ul{
    height: auto;
}
.field-wrap .field input{
    letter-spacing: 0;
}
/*20171102*/
ul.tab-item li {
    width: auto !important;
    padding: 0 15px;
}